body {
    font-family: Arial, sans-serif;
    background-color: #c0cefa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flex-container {
    background-color: #2b2b2b;
    color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 100%;
    max-width: 550px;
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: normal;
    color: #e0e0e0;
}

.campos-grupo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 0.9rem;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #59f100;
}

.imagemcalculadora {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
    opacity: 1.0; 
}